<!DOCTYPE html>
<html ng-app="todosApp">
<head>
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <h1 style="text-align:center ;color: rgba(185, 56, 47, 0.45);font-size: 100px">todos</h1>

</head>
  <body>
  <div class="container">
    <div ng-controller="addtodos">
      <div class="form-group">
        <form ng-submit="save()">
            <input type="text" class="form-control" name="newtodos " ng-model="newtodos" placeholder="What needs to be done?">
          </form>
      </div>
    </div>
  </div>
      <div class="container">
    		<div ng-controller="listcontact">
    				<table class="table table-hover">
    					<thead>
    						<tr>
    							<th>Checkbox</th>
    							<th>Title</th>
    							<th>Done</th>
    							<th></th>
    						</tr>
    					</thead>
    						<tbody>
    							<tr ng-repeat="contact in contacts">
    								<br>
    								<td><input type="checkbox" ng-model="done" ng-init="done = contact.done "></td>
    								<td>{{ contact.title }}</td>
    								<td>
    									<div ng-if="done">
                          <font color ="rgba(185, 56, 47, 0.45)" >complete<font>
                      </div>
    								</td>
    							</tr>
    						</tbody>
    					</div>
    				</table>
            	</div>


  </body>

  <script src="node_modules/angular/angular.js" charset="utf-8"></script>
<script src="app.js" charset="utf-8"></script>
</html>
